body {
  background-color: #DBFCFF;
  font-family: 'Nunito', 'Arial', sans-serif;
  color: #12100E;
}

.container {
  text-align: center;
  min-width: 600px;
  margin: 20vh auto 0px;
}

.header_text {
  font-size: 56px;
  color: #3F826D;
  font-family: 'Nunito', 'Arial', sans-serif;
  font-weight: 600;
  line-height: 1px;
}

.subheader_text {
  font-size: 16px;
  color: #3F826D;
  font-family: 'Nunito', 'Arial', sans-serif;
  font-weight: 400;
}

.searchbox {
  margin: 0px auto;
  font-size: 20px;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  text-align: left;
}

.text_input {
  border: 0px;
  outline: none;
  border-bottom: solid 2px #000;
  border-radius: 5px;
  color: #000;
  background: none;
  margin-left: 10px;
  padding: 3px 8px;
  font-size: 16px;
}

.center {
  text-align: center;
}

.searchBtn {
  background-color: #1446a0;
  color: #FFF;
  border: 0px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 3vh;
  padding: 5px 10px;
}